
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
main{
    margin:20px 50px 50px 50px;
}
.top-banner{
    width: 95%vh;
    height: 580px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(/resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
.top-banner-details{
    width: 40%vh;
    height: 35%vh;
    word-spacing: 16px;
    margin-left: 100px;
    padding-top: 130px;
    text-align: center;
    color: antiquewhite;
}
.top-banner-details> h3{
    font-size: 32px;
    font-weight: 300;
}
.top-banner-details> h1{
    font-size: 72px;
    font-weight: 700px;
    width: 600px;
    margin-left: 280px;
    margin-top: 0px;
}
/*banner-2-related-style*/
.banner-2-container{
    text-align: center;
    margin-top: 100px;
    width: 760px;
    height: 750px;
    margin-left: 250px;
}
.banner-2-title{
    color: #FF0000;
    font-size: 78px;
    margin-bottom: 5px;
}
.banner-2-description{
    font-size: 24px;
    font-weight:medium;
    color: #FF0000;
    margin-bottom: 0px;
}
.banner-2-sub-title{
    font-size: 48px;
    font-weight: bold;
    margin-top: 10px;
}
.second-div{
    word-spacing: 7px;
}
/* banner-3-style*/
.banner-3-container{
    background-image:linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/resources/Vectorrr.png);
    display: flex;
    margin-top: 100px;
    border-radius: 15px;
}
.banner-3-coulme{
    padding: 100px;
    color: antiquewhite;
}
.banner-3-title{
    font-family: Merriweather;
    font-size: 64px;
    width: 500px;
    margin-bottom: 0px;
    line-height: 88px;
}
.banner-3-discription{
    font-family: Inter;
    line-height: 30px;
    font-size: 18px;
}
.banner-3-coulme>span{
    font-family: Inter;
    font-weight: 700;
    margin-left: 20px;
}
.img-b3{
    width: 300px;
    height: 400px;
    margin-top: 100px;
    margin-right: 75px;  
}
/*banner-4-style*/
.banner-4-container{
    background: linear-gradient(to top, white 0%, LemonChiffon 50%, Moccasin 100%);
    width: 95%vh;
    height: 380px;
    margin-top: 70px;
    padding: 130px;
    text-align: center;
    font-family: Inter;
    line-height: 45px;
    font-size: 35px;
    border-radius: 15px;
    line-height: 38px;
}
.banner-4-container  span {
    color:#FF0000;
    font-size:42px;
    margin-right: 8px;
}
.btn-primary{
    width: 160px;
    height:60px;
    background-color: #FF0000;
    color: whitesmoke;
    font-size:large;
    font-family: Inter;
    font-weight: 600;
    border-radius: 7px;
    border: none;
    margin-top: 35px;
}
/*banner-5-style*/
.banner-5-container{
    display: flex;
    width: 95%vh;
    height: 380px;
    margin-top: 40px;
    align-items: center;
}
.b5-coulme-2{
    width: 37.3%;
    height: 312px;
    border: 9px solid red;
    padding: 18px;
    border-radius: 200px;
}

.b5-coulme-2-img{
    width: 101%;
    height: 310px;
}
.b5-coulme-1{
    width: 44.3%;
    margin: 12px 20px 0px 61px

}
.b5-coulme-1> h4{
    color:red;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
}
.b5-coulme-1> h2{
    font-family: Merriweather;
    color: #070211;
    font-size: 48px;
    margin: 0px;
}
.b5-discription{
    font-size: 20px;
    line-height: 32px;
    font-family: Inter;
    color: #070211;
}
.b5-coulme-3{
    margin-left: 45px;
}
.b5-coulme-3> h2{
    font-family: Inter;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 0px;
    color: #FF0000;
}
.b5-discription-3{
    color:#070211;
    font-size: 20px;
    line-height: 32px;
    font-family: Inter;
}
/*banner-8-style*/
.banner-8-container{
    width: 95%vh;
    height: 380px;
    text-align: center;
    margin-top: 50px;
    background: linear-gradient(to top, white 0%, LemonChiffon 50%, Moccasin 100%);
    border-radius: 15px;
    margin-bottom: 180px;
}
.b8-img{
    margin-top: 60px;
}
.banner-8-title{
    font-size: 48px;
    font-family: Merriweather;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #070211;
}
.banner-8-description{
    font-size: 20px;
    font-family: Inter;
    line-height: 32px;
    width: 800px;
    padding-left: 200px;
    margin-top:0px;
    color: #070211;
}
input[type="email"]{
    width: 300px;
    padding: 20px;
    margin-left: 0px;
    border-radius: 10px 0px 0px 10px;
    border-right: none;
    border-color: white;
    border-bottom: #FFFFFF;
    position: relative;
    margin-left: auto;
}
.banner-8-coulme> .btn-primary{
    margin: 0px;
    position: absolute;
    height:55px;
    border-radius:0px 5px 5px 0px;
}
/*footer-related-style*/
footer{
    margin-top: 50px;
}
.footer-container{
    width: 100%vh;
    height: 580px;
    background-color: #070211;
    color: #FFFFFF;
    padding: 140px 70px 20px 70px;
}
.footer-1-row{
    display: flex;
    justify-content: space-between;
    
}
.footer-1-description{
    width: 300px;
    font-size: 24px;
    line-height: 30px;
    text-align:justify;
}
.img-f{
    width: 18px;
    margin-right: 10px;
    
}
.footer-1-description-2 p{
     font-size: 24px;
     padding-top: 0px;
}
.footer-icons-list{
    margin-left: 514px;
    padding: 30px;
}
hr{
    height: 0px;
    color:#FFFFFF;
    stroke: none;
}
.footer-2-row{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    font-size: 24px;
}