
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
main{
    margin:20px 50px 50px 50px;
}
.top-banner{
   background-image:  url('/resources/Banner\ Image.png');
   width: 1230px;
   height: 680px;
   background-repeat: no-repeat;
   color: #FFFFFF;
   text-align: center;
   padding-top: 170px;
   background: linear-gradient(rgba(0,0,0,));
}
.top-banner-details{
    width: 623px;
    height: 250px;
    word-spacing: 16px;
    margin-left: 350px;
}
.top-banner-details> h3{
    font-size: 32px;
    font-weight: 300;
}
.top-banner-details> h1{
    font-size: 72px;
    font-weight: 700px;
}