
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
main{
    margin:20px 50px 50px 50px;
}
.top-banner{
    width: 95%vh;
    height: 580px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(/resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
.top-banner-details{
    width: 40%vh;
    height: 35%vh;
    word-spacing: 16px;
    margin-left: 100px;
    padding-top: 130px;
    text-align: center;
    color: antiquewhite;
}
.top-banner-details> h3{
    font-size: 32px;
    font-weight: 300;
}
.top-banner-details> h1{
    font-size: 72px;
    font-weight: 700px;
    width: 600px;
    margin-left: 280px;
    margin-top: 0px;
}
/*banner-2-related-style*/
.banner-2-container{
    text-align: center;
    margin-top: 100px;
    width: 760px;
    height: 750px;
    margin-left: 250px;
}
.banner-2-title{
    color: #FF0000;
    font-size: 78px;
    margin-bottom: 5px;
}
.banner-2-description{
    font-size: 24px;
    font-weight:medium;
    color: #FF0000;
    margin-bottom: 0px;
}
.banner-2-sub-title{
    font-size: 48px;
    font-weight: bold;
    margin-top: 10px;
}
.second-div{
    word-spacing: 7px;
}
/* banner-3-style*/
.banner-3-container{
    background-image:linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/resources/Vectorrr.png);
    display: flex;
    margin-top: 100px;
    border-radius: 15px;
}
.banner-3-coulme{
    padding: 100px;
    color: antiquewhite;
}
.banner-3-title{
    font-family: Merriweather;
    font-size: 64px;
    width: 500px;
    margin-bottom: 0px;
    line-height: 88px;
}
.banner-3-discription{
    font-family: Inter;
    line-height: 30px;
    font-size: 18px;
}
.banner-3-coulme>span{
    font-family: Inter;
    font-weight: 700;
    margin-left: 20px;
}
.img-b3{
    width: 300px;
    height: 400px;
    margin-top: 100px;
    margin-right: 75px;  
}
